{% extends 'base.html' %}
{% load static %}
{% block content %}


<h2 class="text-center text-success fw-bold fst-italic fs-1 my-3 text-capitalize">Assign Images to Project</h2>
<div class="container">
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
        {% if field.name == 'image' %}
            {{ field }}
            <script>
                document.querySelector('#{{ field.id_for_label }}').multiple = true;
            </script>
            {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
            {% endfor %}
        {% else %}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                {% endfor %}
            {% endif %}
        {% endif %}
    {% endfor %}
    <input type="submit" class="btn btn-success">
</form>
</div>
<script src = "{% static 'project/js/script.js' %}"></script>
{% endblock %}
