{% extends 'base.html' %}
{% load static %}
{% block content %}
<h2 class="text-center  bg-body-secondary">Create your own project</h2>
<div class="container">
    
    <form method="post" enctype="multipart/form-data" id="project-form">
        {% csrf_token %}
        {{ form}} {# Display ProjectModelForm fields #}
            
        <div id="error-message" class="text-danger" style="display: none;"></div>
        <button type="submit" id="submit-button" class="btn btn-success">Submit</button>
    </form>
</div>

<script src = "{% static 'project/js/script.js' %}"></script>
{% endblock %}



</body>


</html>
