{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'project/css/style1.css' %}">
{% endblock %}


{% block content %}
<h2 class="text-center text-success fw-bold fst-italic fs-1 my-3 text-capitalize">Create your own project</h2>
<div class="container">
    
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }} {# Display ProjectModelForm fields #}
            
        <div id="error-message" class="text-danger" style="display: none;"></div>
        <button type="submit" id="submit-button" class="btn btn-success my-1">Submit</button>
    </form>
</div>

<script src = "{% static 'project/js/script.js' %}"></script>
{% endblock %}


