.venv
.idea
crowdFunding/project/migrations/
crowdFunding/project/__pycache__/
crowdFunding/users/migrations/
crowdFunding/users/__pycache__
crowdFunding/commentary/migrations/
crowdFunding/commentary/__pycache__
crowdFunding/crowdFunding/__pycache__
