{% extends 'base.html' %}
{% load static %}

   {% block 'css' %}
    <link rel="stylesheet" href="{% static 'homepage/css/style.css' %}">
    {% endblock %}

{% block content %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>


<div style="position: relative; width: 100%;">
    <img src="https://img.freepik.com/free-photo/top-view-paper-hand-holding-heart-with-copy-space_23-2148635148.jpg?t=st=1713659656~exp=1713663256~hmac=ec08dd3a3c99902c999e8fae10a80f029d8469432fb42f0ff62c9d5b33c04717&w=1380"
         alt="Project Image" class="img-fluid" style="width: 100%;">

    <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: left; color: #18412d;  font-family: 'Georgia', serif; font-size: 80px;">
        FundMe For Better Future
    </div>

    <div class="row mb-3" style="position: absolute; top: 0; left: 0; width: 100%;">
        <div class="col d-flex justify-content-center">
            <div class="search-container">
                <form action="{% url 'projects.search' %}" method="GET" class="d-flex">
                    <input class="form-control me-2 search-input" type="search" name="search_query"
                           placeholder="Search projects" aria-label="Search">
                    <button class="btn btn-primary search-button" type="submit">
                        <i class="bi bi-search">search</i> <!-- Search icon -->
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="col text-center">
        <!--        <h3 class="section-title">Most 5 Rated Projects</h3>-->
    </div>
    <!--    {% if top_five_products %}-->
    <!--<div class="join my-5">-->
    <!--  &lt;!&ndash;  highest five rated running projects &ndash;&gt;-->

    <!--  <div id="carouselExampleDark" class="carousel carousel-dark slide">-->
    <!--    <div class="carousel-indicators">-->
    <!--      {% for project in top_five_products %}-->
    <!--      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="{{ forloop.counter0 }}"-->
    <!--        {% if forloop.first %}class="active"{% endif %} aria-label="Slide {{ forloop.counter }}"></button>-->
    <!--      {% endfor %}-->
    <!--    </div>-->
    <!--    <div class="carousel-inner">-->
    <!--      {% for project in top_five_products %}-->
    <!--      <div class="carousel-item{% if forloop.first %} active{% endif %}" data-bs-interval="10000">-->
    <!--       {% if project.image_urls %}-->
    <!--    <img src="{{ project.image_urls.0 }}" style="max-height: 400px; max-width: 50%;" class="d-block w-100 mx-auto" alt="{{ project.title }}">-->
    <!--    {% endif %}-->
    <!--        <div class="carousel-caption rounded" style="background-color: rgba(255, 255, 255, 0.75);">-->
    <!--          <h3>{{ project.title }}</h3>-->
    <!--          <p>{{ project.author }}</p>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--      {% endfor %}-->
    <!--    </div>-->

    <!--    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">-->
    <!--      <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
    <!--      <span class="visually-hidden">Previous</span>-->
    <!--    </button>-->
    <!--    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">-->
    <!--      <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
    <!--      <span class="visually-hidden">Next</span>-->
    <!--    </button>-->
    <!--  </div>-->
    <!--</div>-->
    <!--{% endif %}-->

    {% if top_five_products %}
    <section>
        <div class="container">
            <div class="carousel">
                {% for project in top_five_products %}
                <input type="radio" name="slides" {% if forloop.first %}checked="checked" {% endif %}
                       id="slide-{{ forloop.counter }}">
                {% endfor %}
                <ul class="carousel__slides">
                    {% for project in top_five_products %}
                    <li class="carousel__slide">
                        <figure>
                            <div>
                                <a href="{{ project.show_url }}">
                                    {% if project.image_urls %}
                                    <img src="{{ project.image_urls.0 }}" alt="">
                                    {% endif %}
                                </a>
                            </div>
                            <figcaption>
                                <h5 class="card-title font-weight-bold">{{ project.title }}</h5>
                                <span class="credit">{{ project.details }}</span>
                            </figcaption>
                        </figure>
                    </li>
                    {% endfor %}
                </ul>
                <ul class="carousel__thumbnails">
                    {% for project in top_five_products %}
                    <li>
                        <label for="slide-{{ forloop.counter }}"><img src="{{ project.image_urls.0 }}" alt=""></label>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </section>
    {% endif %}


    <div class="col text-center">
        <!--        <h3 class="section-title">Latest Five Projects</h3>-->
    </div>
    {% if latest_books %}
    <div class="join my-5">
        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for project in latest_books %}
            <div class="col">
                <div class="project-card-container"> <!-- Add a container for each project card -->
                    <div class="card h-100 project-card">
                        <a href="{{ project.show_url }}">
                            <div class="card-body">
                                {% if project.image_urls %}
                                <div class="project-image-container">
                                    <img src="{{ project.image_urls.0 }}" class="card-img-top img-fluid project-img"
                                         alt="{{ project.title }}">
                                    <div class="project-details">
                                        <h6>{{ project.title }}</h6>
                                        <p>{{ project.details }}</p>
                                    </div>
                                </div>
                                {% endif %}

                                <!--              {% for tag in project.tag.all %}-->
                                <!--              <p class="card-text tag_name">{{ tag.name }}</p>-->
                                <!--              {% endfor %}-->

                                <main role="main" style="margin-left: 3.5em;">
                                    {% for tag in project.tag.all %}
                                    <a href="/tag/project"><span class="tag tag-{{ tag.name|lower }} tag-lg">{{ tag.name }}</span></a>
                                    {% endfor %}
                                </main>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar"
                                         style="width: {{ project.progress_donation }}%;"
                                         aria-valuenow="{{ project.progress_donation }}" aria-valuemin="0"
                                         aria-valuemax="100"></div> <!-- Calculate width based on percentage -->
                                </div>

                                <p class="card-text">${{ project.current_donation }} raised</p>
                                <!--                            <p class="card-text">Total Target: {{ project.total_target }}</p>-->
                        </a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endif %}


<h3>Latest 5 featured projects</h3>

{% if latest_featured_projects %}
<div class="join my-5">


    <div id="featured" class="carousel carousel-dark slide">
        <div class="carousel-indicators">
            {% for project in latest_featured_projects %}
            <button type="button" data-bs-target="#featured" data-bs-slide-to="{{ forloop.counter0 }}"
                    {% if forloop.first %}class="active" {% endif %}
                    aria-label="Slide {{ forloop.counter }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for project in latest_featured_projects %}
            <a href="{{ project.show_url }}">
                <div class="carousel-item{% if forloop.first %} active{% endif %}" data-bs-interval="10000">

                    {% if project.image_urls %}
                    <img src="{{ project.image_urls.0 }}" style="max-height: 400px; max-width: 50%;"
                         class="d-block w-100 mx-auto" alt="{{ project.title }}">
                    {% endif %}
                    <div class="carousel-caption rounded" style="background-color: rgba(255, 255, 255, 0.75);">
                        <h3>{{ project.title }}</h3>
                        <p>{{ project.author }}</p>
                    </div>
                </div>
            </a>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#featured" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#featured" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!--{% for project in latest_featured_projects %}-->
<!--<tr>-->
<!--    <td>{{ project.title }}</td>-->
<!--    <td>{{ project.is_featured }}</td>-->
<!--</tr>-->
<!--{% endfor %}-->


</div>
{% endif %}
<style>
.container {
    max-width: 1160px;
    margin: 20px auto;
    padding: 0 20px;
}

    .search-form {
  width: 100%;
}

.search-input {
  border: 2px solid #d2d2d2;
  border-radius: 30px;
<!--  padding: 4px 60px;-->
  font-size: 16px;
  text-align: left;
  width:300px;
}

.search-button {
  border: none;
  border-radius: 30px;
  padding: 6px 30px;
  background-color: #009fe3;
  color: #fff;
}

.search-button:hover {
  background-color: #0085c4;
}

.search-button i {
  font-size: 1.2rem;
}

    <!--  image style-->
  .project-image-container {
  position: relative;
  overflow: hidden;
  height: 400px; /* Adjust the height as needed */
}

.project-img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  transition: transform 0.3s ease;
}

</style>
{% endblock %}