<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Unauthorized Access</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        Unauthorized Access
                    </div>
                    <div class="card-body">
                        <p class="card-text">Error 404</p>
                        <p class="card-text">Please <a href="{% url 'project.list' %}" class="btn btn-primary">go back to the homepage</a> or contact the administrator for assistance.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>