<!-- donate.html -->
{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .badge {
        margin-right: 10px;
        margin-bottom: 10px;
        padding: 8px 12px;
        font-size: 16px;
        border-radius: 5px;
    }

    .bg-info {
        background-color: #17a2b8 !important;
    }

    .bg-primary {
        background-color: #007bff !important;
    }
</style>

  <h2 class="text-center text-success fw-bold fst-italic fs-1 my-3 text-capitalize">Donate to Project</h2>
  {% comment %} <form method="post" action="{% url 'project.donate' project.id %}">
    {% csrf_token %}
    <label for="donation_amount">Enter donation amount:</label>
    <input type="number" id="donation_amount" name="donation_amount" step="0.01" required>
    <button type="submit">Donate</button>
  </form> {% endcomment %}
  <div class="container">
    <div class="row">
    <div class="col-md-6">
        <span class="badge bg-info">Current Donation</span>
        <span class="badge bg-primary">{{ project.current_donation }}$</span>
    </div>
    <div class="col-md-6">
        <span class="badge bg-info">Total Target</span>
        <span class="badge bg-primary">{{ project.total_target }}$</span>
    </div>
</div>

    
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Donate Now" class="btn btn-success my-2">
</form>
</div>
<script src = "{% static 'project/js/script.js' %}"></script>

{% endblock %}
