{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'project/css/style.css' %}">
{% endblock %}

{% block content %}
<section class="dark">
    <div class="container py-4">
        {% for project in projects %}
        <article class="postcard dark blue">
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="{{ project.show_url }}">{{ project.title }}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="{{ project.end_date }}">
                        <i class="fas fa-calendar-alt mr-2"></i>{{ project.end_date }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Current Donation: {{ project.current_donation }}</div>
                <ul class="postcard__tagbox">
                    {% if project.category %}
                    {% comment %} {{project.category}} {% endcomment %}
                    <li class="tag__item"><a href="{{ project.category }}">Category : {{ project.category }}</a></li>
                    {% endif %}
                    {% comment %} <li class="tag__item"><a href="{{ project.duration }}">{{ project.duration }}</a></li> {% endcomment %}
                    
                </ul>
                <div>
                    {% for tag in project.tag.all %}
                    <a href="/tag/project">#{{ tag.name }}</span></a>
                    {% endfor %}
                </div>
                <div>
                    <li class="tag__item play"><a href="{{ project.donate_url }}">Donate</a></li>
                </div>
            </div>
            <a class="postcard__img_link" href="{{ project.show_url }}">
                {% if project.images.all %}
                    <img class="postcard__img" src="{{ project.images.first.image.url }}" alt="{{ project.title }}">
                {% else %}
                    <!-- Placeholder image if project has no images -->
                    <img class="postcard__img" src="/media/project/images/3.jpg" alt="{{ project.title }}">
                {% endif %}
            </a>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}
