{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'project/css/style.css' %}">
<style>
    
</style>
{% endblock %}

{% block content %}

<section class="dark">
    <div class="container ">
        <div class="text-end my-3 "> 
            <a class=" btn btn-primary" href="{% url 'project.createmodel' %}">Start your project!</a>
        </div>
        <div class="row mb-3">
            <div class="col d-flex justify-content-center">
                <div class="search-container">
                    <form action="{% url 'projects.search' %}" method="GET" class="d-flex">
                        <input class="form-control me-2 search-input" type="search" name="search_query"
                               placeholder="Search projects" aria-label="Search">
                        <button class="btn btn-primary search-button" type="submit">
                            <i class="bi bi-search">search</i> <!-- Search icon -->
                        </button>
                    </form>
                </div>
            </div>
        </div>
    <div class="container py-4">
        {% for project in projects %}
        <article class="postcard dark blue">
            <div class="postcard__text">
                <h1 class="postcard__title blue"><a href="{{ project.show_url }}">{{ project.title }}</a></h1>
                <div class="postcard__subtitle small">
                    <time datetime="{{ project.end_date }}">
                        <i class="fas fa-calendar-alt mr-2"></i>{{ project.end_date }}
                    </time>
                </div>
                <div class="postcard__bar"></div>
                <div class="postcard__preview-txt">Current Donation: {{ project.current_donation }}</div>
                <ul class="postcard__tagbox">
                    {% if project.category %}
                    {% comment %} {{project.category}} {% endcomment %}
                    <li class="tag__item"><a href="{{ project.category }}">Category : {{ project.category }}</a></li>
                    {% endif %}
                    {% comment %} <li class="tag__item"><a href="{{ project.duration }}">{{ project.duration }}</a></li> {% endcomment %}
                    
                </ul>
                <div>
                    {% for tag in project.tag.all %}
                    <span style="color: blue;">#{{ tag.name }}</span>
                    {% endfor %}
                </div>
                {% if not project.is_run_project %}
                <div class="alert alert-danger mt-2" role="alert">
                    This project is not runnable. Please choose another project to donate.
                </div>
                {% else %}
                    <a href="{{project.donate_url}}" class="btn btn-success">Donate</a>
                {% endif %}
            </div>
            <a class="postcard__img_link" href="{{ project.show_url }}">
                {% if project.images.all %}
                    <img class="postcard__img" src="{{ project.images.first.image.url }}" alt="{{ project.title }}">
                {% else %}
                    <!-- Placeholder image if project has no images -->
                    <img class="postcard__img" src="/media/project/images/3.jpg" alt="{{ project.title }}">
                {% endif %}
            </a>
        </article>
        {% endfor %}
    </div>
</section>
{% endblock %}

