<title>Project Details</title>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-AkTRX81q0DXii1alvMYq8F8TmDLn9/8GzuFtH/FuHeEMwSapVSZU8TpC0uY6PGhBmToXGZZqHQ3lvg5GkDF7ow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<style>
    /* Custom styles */
    .project-info {
        margin-top: 20px;
    }
    .project-info p {
        margin-bottom: 5px;
    }
    .project-info .label {
        font-weight: bold;
        color: #007bff;
    }
</style>

<div class="container">
{% if images %}
<div id="carouselExampleIndicators" class="carousel slide">
  <div class="carousel-indicators">
    {% for image in images %}
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" {% if forloop.first %}class="active"{% endif %}></button>
    {% endfor %}
  </div> 
  <div class="carousel-inner">
    {% for image in images %}
      <div class="carousel-item {% if forloop.first %}active{% endif %}">
        {% if image.image %}
          <img src="{{ image.image.url }}" class="d-block w-100" alt="Image {{ forloop.counter }}">
        {% else %}
          <!-- Provide the URL of the alternative image -->
          <img src="/media/project/images/3.jpg" class="d-block w-100" alt="Image {{ forloop.counter }}">
        {% endif %}
      </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
{% else %}
<div class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <img src="/media/project/images/3.jpg" class="w-50 h-75" alt="Default Image">
</div>

{% endif %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>


    <div class="card">
      
        <div class="card-body">
          
            <h5 class="card-title">Title: {{ project.title }}</h5>
            <div class="project-info">
                <p><span class="label">Details:</span> {{ project.details }}</p>
                <p><span class="label">Total Target:</span> {{ project.total_target }}</p>
                <p><span class="label">Start Date:</span> {{ project.start_date }}</p>
                <p><span class="label">End Date:</span> {{ project.end_date }}</p>
                <p><span class="label">Created At:</span> {{ project.created_at }}</p>
                <p><span class="label">Current Donation:</span> {{ project.current_donation }}</p>
                {% for tag in project.tag.all %}
                <p><span class="label">Tags</span> {{  tag.name  }}</p>
                
                {% endfor %}

                
                


            


                <!-- Include Font Awesome CSS -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
                      integrity="sha512-QzlcmlSdIbDtiRJInF4VaNmDTuK25I7RQ1SfJM/f1iDn2JN84iXT2AKI5ffj5wdsW0RnW7fuyBdVFlk2l4OfCw=="
                      crossorigin="anonymous" referrerpolicy="no-referrer"/>

                <!-- Display stars -->
                <div class="rate">
                    {% for star in project.star_ratings %}
                    {% if star == 0.5 %}
                    <i class="fas fa-star-half-alt" style="color: orange;"></i>
                    {% elif star == 0 %}
                    <i class="far fa-star" style="color: black;"></i>
                    {% else %}
                    <i class="fas fa-star" style="color: orange;"></i>
                    {% endif %}
                    {% endfor %}
                </div>
                {% if project.id %}
                <a href="{% url 'projects.report_project' project.id %}" class="btn btn-primary report-button">
                    <i class="fas fa-flag"> Report</i>
                </a>
                {% endif %}


            </div>
        </div>
    </div>
</div>

<div class="container my-2">
    <h3>Delete and Edit project for project Creator only!</h3>
    {% if request.user == project.project_owner %}
    <a href="{{ project.delete_url }}" id="delete-project-btn" class="btn btn-danger">Delete Project</a>
    <a href="{{ project.edit_url }}" class="btn btn-primary">Edit</a>
    <a href="{{ project.add_image_url }}" class="btn btn-success">Add Images</a>

    <div id="error-message" class="text-danger" style="display: none;"></div> <!-- Placeholder for error message -->
</div>
{% endif %}




<!-- jQuery (Optional) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Bootstrap Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js" integrity="sha512-AkTRX81q0DXii1alvMYq8F8TmDLn9/8GzuFtH/FuHeEMwSapVSZU8TpC0uY6PGhBmToXGZZqHQ3lvg5GkDF7ow==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



<div class="comments-box">
    <div class="comments-container">
        <!--        <h3>Comments</h3>-->
        {% if comments %}
        <div class="comment-list">
            {% for comment in comments %}
            <div class="comment">
                <div class="comment-user"> {{ comment.user }}</div>

                <div class="comment-user">User: {{ comment.user }}</div>
                <div class="comment-text">{{ comment.text }}</div>

                {% if not comment.reported %}
                <form method="post" action="{% url 'projects.report_comment' id=project.id comment_id=comment.id %}">
                    {% csrf_token %}
                    {% comment %}
                    <button type="submit" class="report-button btn btn-primary">Report</button>
                    {% endcomment %}
                    <button type="submit" class="report-button btn btn-primary">
                        <i class="fas fa-flag"></i>
                    </button>


                </form>
                {% else %}
                <span class="reported">Reported</span>
                {% endif %}

                {% for reply in comment.replies.all %}
                <div class="reply">
                    <div class="reply-user">User: {{ reply.user }}</div>
                    <div class="reply-content">{{ reply.content }}</div>
                    <div class="reply-time">{{ reply.created_at }}</div>
                </div>
                {% endfor %}

                <!-- Reply form -->
                <form method="post" action="{% url 'projects.reply' project.id comment.id %}">
                    {% csrf_token %}
                    {% if messages %}
            <ul class="messages alert alert-success text-center list-unstyled">
                {% for message in messages %}
                    <li class="nav-item ">{{ message }}</li>
                {% endfor %}
            </ul>
                  {% endif %}
                    {{ reply_form.as_p }}
                    <button type="submit">Reply</button>
                </form>


            </div>
            {% endfor %}
        </div>
        {% else %}
        <p>No comments yet.</p>
        {% endif %}

        <!-- Add Comment Form -->
        <button id="add-comment-btn">Add Comment</button>
        <!--        <p>Project ID: {{ project.id }}</p>-->
        <form class="add-comment-form" method="post" action="{% url 'project.comment' project.id %}"
              style="display: none;">

            {% csrf_token %}

<!--           {% if form.errors %}-->
<!--    <div class="form-errors">-->
<!--        {% for field, errors in form.errors.items %}-->
<!--            {% for error in errors %}-->
<!--                <span class="text-danger">{{ error }}</span>-->
<!--        print({{ error }})-->
<!--        console.log({{ error }})-->
<!--            {% endfor %}-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--{% endif %}-->

   {{ form.errors }}
<!--             {% if form.errors %}-->
<!--                <ul class="errorlist">-->
<!--                    {% for field, errors in form.errors.items %}-->
<!--                    {% for error in errors %}-->
<!--                    print (error)-->
<!--                    <li>{{ error }}</li>-->
<!--                    {% endfor %}-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--                {% endif %}-->


            {{ form.as_p }}

            <div class="rating" >
                <input type="radio" id="star5" name="star_rating" value="5">
                <label for="star5">&#9733;</label>

                <input type="radio" id="star4" name="star_rating" value="4">
                <label for="star4">&#9733;</label>

                <input type="radio" id="star3" name="star_rating" value="3">
                <label for="star3">&#9733;</label>

                <input type="radio" id="star2" name="star_rating" value="2">
                <label for="star2">&#9733;</label>

                <input type="radio" id="star1" name="star_rating" value="1">
                <label for="star1">&#9733;</label>
            </div>
            <input type="hidden" id="id_rate" name="star_rating">


            <!--            <textarea name="text" id="comment_text" placeholder="Write your comment here..." required></textarea>-->
            <button type="submit" id="submit-comment-btn">Submit</button>
        </form>
    </div>
</div>

{% comment %} project with similar tags {% endcomment %}
<div class="container">
    <h4 class="text-center mt-4">See Also :: Projects with Same Tags</h4>
    <div class="row text-center">
        {% for tag in project.tag.all %}
            <div class="col-md-4">
                <h5 class="mt-3">Tag Name: {{ tag.name }}</h5>
                <div class="card mx-auto text-center">
                    <div class="card-body">
                        {% for related_project in tag.projects.all %}
                            {% if forloop.counter <= 4 %}
                                <p class="card-text">
                                    <a href="{{ related_project.show_url }}">{{ related_project.title }}</a>
                                </p>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>



<style>
    /* star style */
 .rating input[type="radio"] {
   display: none;
 }

 /* Style star labels */
 .rating label {
   font-size: 30px;
   color: #ccc;
   cursor: pointer;
 }

 /* Style star labels when checked */
 .rating input[type="radio"]:checked ~ label {
   color: #ffcc00;
 }


</style>
<script>
    <!-- js for star styling   -->
        document.addEventListener('DOMContentLoaded', function () {
      const stars = document.querySelectorAll('.rating input[type="radio"]');
      const rateInput = document.getElementById('id_rate'); // Target the input field generated by form.as_p
<!--      rateInput.style.display="none";-->
      stars.forEach(star => {
        star.addEventListener('change', function () {
          rateInput.value = this.value;
          console.log("Selected rating:", this.value); // Debug statement
          console.log("Rate input value:", rateInput.value); // Debug statement
        });
      });
    });

document.addEventListener('DOMContentLoaded', function() {
    document.getElementById('delete-project-btn').addEventListener('click', function(event) {
        // Prevent the default action by default
        event.preventDefault();

        // Fetch the data from the provided URL
        fetch(this.href)
            .then(response => response.json())
            .then(data => {
                // Check if there's an error message in the response
                if (data.error) {
                    // Update the error message placeholder with the received error message
                    var errorMessageElement = document.getElementById('error-message');
                    errorMessageElement.textContent = data.error;
                    errorMessageElement.style.display = 'block'; // Show the error message
                } else {
                    // If no error message, allow the default action (redirecting to list.html)
                    window.location.href = ''http://127.0.0.1:8000/project/'';
                }
            })
            .catch(error => console.error('Error:', error));
    });
});



    


        
    var myCarousel = document.getElementById('carouselExampleCaptions');
    var carousel = new bootstrap.Carousel(myCarousel, {
        interval: 2000, // Adjust as needed
        // Other options...
    });


</script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">


<style>
    {% comment %} replystyle {% endcomment %}
   .reply{
   border: 1px solid black;
   border-radius :4px;

   background-color:#e5eaf5;

    {% comment %} reportstyle {% endcomment %}
    .report-button {
        background-color: transparent;
        color: #dc3545;
        border: 2px solid #dc3545;
        padding: 5px 9px;
        font-size: 14px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
    }
    
    .report-button:hover {
        background-color: #dc3545;
        color: #fff;
    }
    
    .report-button .fas {
        margin-right: 5px;
    }
    {% comment %} end of report style {% endcomment %}
    {% comment %} comments style {% endcomment %}
    .comments-box {
        border: 1px solid #ccc;
        border-radius: 8px;
        width:37%;
        background-color:;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        padding: 20px;
        margin-top: 20px;
    }

    .comments-container {
        margin-top: 20px;
    }

    .comment-list {
        margin-bottom: 20px;
    }

    .comment {
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .comment-user {
        font-weight: bold;
        color: blue;
        margin-bottom: 5px;
    }

    .comment-text {
        font-size: 14px;
        color: #555;
    }

    .add-comment-form {
        margin-top: 20px;
    }

    #add-comment-btn,
    #submit-comment-btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 16px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    #add-comment-btn:hover,
    #submit-comment-btn:hover {
        background-color: #0056b3;
    }

</style>

<style>
    .comments-box {
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 72%; /* Adjust width as needed */
    margin: auto;
    padding: 20px;
    margin-top: 20px;
    height:auto;
}

.comments-container {
    display: flex;
    justify-content: space-between; /* Distribute space between comments and add comment form */
}

.comment-list {
    width: 60%; /* Adjust width as needed */
}

.comment {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
}

.comment-user {
    font-weight: bold;
    color: blue;
    margin-bottom: 5px;
}

.comment-text {
    font-size: 14px;
    color: #555;
}

.add-comment-form-container {
    width: 35%; /* Adjust width as needed */
}

.add-comment-form {
    margin-top: 20px;
}

#add-comment-btn {
    background-color: #28a745; /* Green color */
    color: #fff;
    border: none;
    padding: 8px 8px; /* Decreased padding */
    font-size: 14px; /* Decreased font size */
    border-radius: 3px;
    cursor: pointer;
    height:60px;
    transition: background-color 0.3s;
    display: block; /* Make it a block element */
    margin: 0 10px; /* Center horizontally */
}

#add-comment-btn:hover {
    background-color: #218838; /* Darker green color on hover */
}


textarea[name="text"] {
    width: calc(100% - 40px); /* Adjust width as needed */
    height: 100px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; /* Allow vertical resizing */
}

textarea[name="text"]:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add a shadow on focus */
}

</style>
